<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
<customErrors mode="Off"/>
    </system.web>

	<appSettings>
	  <add key="CLIENT_ID" value=""/>
	  <add key="CLIENT_SECRET" value=""/>
	  <add key="AUTHORIZE_URL" value="https://www.facebook.com/dialog/oauth?"/>
	  <add key="ACCESSTOKEN_URL" value="https://graph.facebook.com/oauth/access_token"/>
	  <add key="CALLBACK_URL" value="https://ドメイン/MyFeedApp/oauth.aspx"/>
	</appSettings>


</configuration>
